:root {
  /* Colors */

  /* Primary */

  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral */

  /* -paragraphs */
  --Transparent-white: hsla(0, 0%, 100%, 0.75);

  /* (background, headings, buttons) */
  --Very-light-gray: hsl(0, 0%, 95%);

  /* Fonts  */

  --lexend-deca: "Lexend Deca", sans-serif;
  --big-shoulders: "Big Shoulders Display", cursive;
}

hmtl {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 130vh;
  justify-content: center;
  align-items: center;
}

.container-sedans {
  width: 200px;
  height: 300px;
  background-color: var(--Bright-orange);
  border-radius: 10px 10px 0 0;
}

.image-product img {
  width: 3.5rem;
  padding: 30px 0 10px 20px;
}

.title {
  text-transform: uppercase;
  font-weight: 1.5rem;
  color: var(--Very-light-gray);
  font-family: var(--big-shoulders);
  padding: 10px 0 20px 20px;
}

.container-card p {
  padding: 0px 20px 20px 20px;
  color: var(--Transparent-white);
  font-size: 0.6rem;
  font-family: var(--lexend-deca);
  font-weight: normal;
  line-height: 1.2rem;
}

.container-card .btn {
  width: 90px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 0.6rem;
}

#btn-sedans {
  color: var(--Bright-orange);
}

.container-suvs {
  background-color: var(--Dark-cyan);
  width: 200px;
  height: 300px;
}

#btn-suvs {
  color: var(--Dark-cyan);
}

.container-luxury {
  background-color: var(--Very-dark-cyan);
  width: 200px;
  height: 300px;
  border-radius: 0 0 10px 10px;
}

#btn-luxury {
  color: var(--Very-dark-cyan);
}



.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
